html,
body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.btn {
    height: 34px !important;
}

.form-actions {
    align-items: center !important;
}


/* Username and avatar on dashboard**/
.navbar-custom-menu img.user-avatar{
    max-height: 32px;
    max-width: 32px;
}
img.img-thumbnail{
    object-fit: cover;
}
