html,
body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.btn {
    height: 34px !important;
}

.form-actions {
    align-items: center !important;
}


/* Username and avatar on dashboard**/
.navbar-custom-menu img.user-avatar{
    max-height: 32px;
    max-width: 32px;
}
img.img-thumbnail{
    object-fit: cover;
}

.field-soc_file .form-widget-compound .field-vich_file > legend{
    display: none;
}
.field-soc_file .form-widget-compound .field-vich_file .form-widget  .vich-file{
    display: grid;
    grid-template-columns: minmax(15em,35em) auto;
    grid-gap: 1em;
}
.a2lix_translationsFields.tab-content input,
.a2lix_translationsFields.tab-content textarea
{
    width: 100%;
    min-width: 35em;
}
