{% extends 'email/foundation/base.html.twig' %}

{% block title %}We have a new user registered!{% endblock title %}

{% block message %}
<h4>Hello there!</h4>
<p>There is a new user (<strong>{{ username }}</strong>) awaiting for confirm his account.
  You can see the details from your admin panel</p>

{% endblock message %}

{% block action %}
    <table class="button large expand">
        <tr>
          <td>
            <table>
              <tr>
                <td>
                  <center data-parsed=""><a href="{{ action_url }}" align="center" class="float-center">Go to Admin Panel</a></center>
                </td>
              </tr>
            </table>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

{% endblock action %}