{% extends 'email/foundation/base.html.twig' %}

{% block title %}Reset your password at SENSES OF CUBA{% endblock title %}

{% block message %}
<h1 class="text-center">Forgot Your Password?</h1>
<table class="spacer">
  <tbody>
    <tr>
      <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
    </tr>
  </tbody>
</table>
<p class="text-center">It happens. Click the link below to reset your password.</p>

{% endblock message %}

{% block action %}
 <table class="button large expand">
        <tr>
          <td>
            <table>
              <tr>
                <td>
                  <center data-parsed=""><a href="{{ action_url }}" align="center" class="float-center">Reset Password</a></center>
                </td>
              </tr>
            </table>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
{% endblock action %}


