{% extends 'email/foundation/base.html.twig' %}

{% block title %}Senses Of Cuba{% endblock title %}

{% block message %}
<h4>Hello {{ username }}, we updated product: {{ product_name }} on {{ product_updated }}.</h4>
<p>Go to <a href="https://infonet.sensesofcuba.com">Senses Of Cuba Infonet</a> to see the new product content.</p>

{% endblock message %}

{% block action %}
   <table class="button large expand">
        <tr>
          <td>
            <table>
              <tr>
                <td>
                  <center data-parsed=""><a href="{{ action_url }}" align="center" class="float-center">Log in</a></center>
                </td>
              </tr>
            </table>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
{% endblock action %}